.sidebar {
  width: 280px;

  background-color: white;

  border-radius: 18px;

  border: 1px solid #e5e7eb;

  padding: 25px;

  height: fit-content;
}

.sidebar h3 {
  font-size: 22px;

  margin-bottom: 30px;
}

.group {
  margin-bottom: 22px;
}

.group label {
  display: block;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
}

.group input,
.group select {
  width: 100%;
  height: 52px;

  border-radius: 12px;

  border: 1px solid #d1d5db;

  padding: 0 15px;

  outline: none;

  font-size: 15px;
}

.applyBtn {
  width: 100%;

  margin-top: 20px;

  height: 48px;

  border: none;

  border-radius: 14px;

  background: var(
    --primary-color
  );

  color: white;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.applyBtn:hover {
  opacity: 0.9;
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}

.resetBtn {
  width: 100%;

  margin-top: 10px;
  padding: 14px;

  border: none;
  border-radius: 12px;

  background: #f3f4f6;
  color: #111827;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.resetBtn:hover {
  background: red;
}