.overlay {
  position: fixed;
  inset: 0;

  background: rgba(
    0,
    0,
    0,
    0.5
  );

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal {
  background: white;

  width: 500px;

  padding: 30px;

  border-radius: 20px;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal input,
.modal textarea {
  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border: 1px solid #ddd;

  border-radius: 10px;
}

.actions {
  display: flex;

  gap: 10px;
}

.actions button {
  flex: 1;

  padding: 12px;

  border: none;

  border-radius: 10px;

  cursor: pointer;
}