* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

button,
input {
  font-family: inherit;
}
body {
  overflow-x: hidden;
}

img,
button,
a,
div {
  max-width: 100%;
}