:root {
  --primary-color: #2563eb;
  --secondary-color: #22c55e;

  --background-color: #f5f7fb;
  --white-color: #ffffff;

  --text-color: #111827;
  --gray-color: #6b7280;

  --card-color: #ffffff;
  --border-color: #e5e7eb;

  --border-radius: 10px;

  --transition: 0.3s ease;
}

[data-theme="dark"] {
  --background-color: #111827;

  --white-color: #1f2937;

  --text-color: #f9fafb;

  --gray-color: #9ca3af;

  --card-color: #1f2937;

  --border-color: #374151;
}